<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <% if (locals.user) { %>
    <div class="header">
      <h1>Message Board</h1>
      <div>Welcome <%= user.first_name %>  <a href="/log-out">Log Out</a></div>
    </div>

    <% if (!locals.user.is_member) { %>
      <div class="banner"> Become a member to see the message's author and date posted. 
        <a href="/join-club">Join Today</a>
      </div>
    <% } %>
      
    
    <!-- Messages -->
    <div class="messages">
      <a class="new-message-button" href="/posts/new">New Message</a>
      <% if (locals.messages && messages.length > 0) { %>
        <% messages.forEach((post)=> { %>
          <div class="post">
            <% if (locals.user.is_member || locals.user.id === post.author_id) { %>
              <div class="top-row">
                <div class="author"><%= post.author %></div>
                <div class="date"><%= post.created_at %></div>
              </div>
            <% } else { %>
              <div class="top-row">
                <div class="author">Anonymous</div>
                <div class="date"></div>
              </div>
            <% } %>
              <div class="title"><%=post.title %></div>
              <div><%=post.message %></div>
            <% if (locals.user.is_admin) { %>
              <div class="delete-button">
                <form action="/posts/delete/<%= post.id %>" method="POST" style="display: inline;">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit">Delete Message</button>
                </form>
              </div>
            <% } %>
          </div>
        <% }); %>
      <% } else { %>
        <p>No messages yet!</p>
      <% } %>
    </div>

  <% } else { %>
    <div class="welcome">
      <h1>Welcome to Members Only</h1>
      <p>Please <a href="/log-in">log in</a> or <a href="/sign-up">sign up</a> to continue.</p>
    </div>
  <% } %>
</body>

</html>